/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  height: 100vh;
  background: #fffef8;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 50px;
  flex-wrap: wrap;
}

header :is(h1, nav) {
  margin-top: 50px;
}

.admin-banner {
  flex-basis: 100%;
  flex-shrink: 0;
}

footer {
  background-color: #fff;
  min-height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

section {
  padding: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  font-weight: 400;
}

nav li[aria-current="page"] {
  font-weight: 700;
}

nav li a {
  font-weight: 300;
  text-decoration: none;
  color: #000;
}

nav li a:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#contact,
#form-login {
  width: 50%;
  margin: auto;
}
#contact > *,
#form-login > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form,
#form-login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#form-login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#form-login label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Filters */
#filter-categories fieldset p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 51px 0;
}

input[type="radio"] + label {
  display: block;
  font-size: 1rem;
  font-family: "Syne";
  font-weight: 700;
  padding: 9px 20px;
  border-radius: 60px;
  margin-inline: 5px;
  color: #1d6154;
  border: 1px solid #1d6154;
}

input[type="radio"]:checked + label {
  color: white;
  background-color: #1d6154;
  border-color: transparent;
}

/* Form-login */
#form-login a {
  display: block;
  color: #000;
  text-align: center;
}

#form-login .error-login {
  color: red;
  text-align: center;
  outline: 0;
}

.admin-banner {
  color: white;
  background: #000;
  text-align: center;
  padding-block: 20px;
}

.admin-banner i {
  padding-right: 11px;
}

.js-admin .js-not-admin {
  display: none;
}
.js-admin .js-is-admin {
  display: block;
}
.js-is-admin {
  display: none;
}
.js-not-admin {
  display: block;
}

#portfolio h2 {
  display: flex;
  justify-content: center;
}

#portfolio h2 button {
  color: #000;
  font-size: 14px;
  font-family: "Work Sans";
  padding-left: 11px;
}

#button-edit {
  all: unset;
}

/* Modal */
#main-dialog {
  padding: 0;
  border: 0;
}

#main-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.dialog-container {
  padding: 10px 105px;
  max-width: 630px;
  position: relative;
}

#dialog-gallery {
  padding-block: 46px 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 29px 9px;
}

#dialog-gallery figure {
  position: relative;
  width: 77px;
  height: 103px;
}

#dialog-gallery button {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
}

#dialog-gallery button i {
  font-size: 0.625rem;
}

.dialog-container button {
  all: unset;
}

.dialog-container h1 {
  text-align: center;
  font-family: "Work Sans";
  font-size: 22px;
  font-weight: 800;
  color: #000;
  margin-top: 50px;
}

.dialog-container button:is(.add-item, #add-picture) {
  display: block;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 237px;
  padding-block: 10px;
  text-align: center;
  border-radius: 60px;
}

.dialog-container button#add-picture:disabled {
  background-color: #a7a7a7;
  color: #fff;
  cursor: not-allowed;
}

.dialog-page--2 {
  display: none;
  min-width: 420px;
}

.dialog-container .close-dialog {
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 1.5rem;
  color: #000;
}

.dialog-container .back-dialog {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 1.5rem;
  color: #000;
}

.dialog-container #image + label {
  text-align: center;
  padding-block: 16px;
  min-height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e8f1f6;
  background-position: center;
}

.dialog-container .image-preview {
  margin-block: 33px;
}

.dialog-container .image-preview .fake-btn {
  background-color: #cbd6dc;
  color: #306685;
  border-radius: 60px;
  display: inline-block;
  margin-block: 7px;
  font-size: 0.875rem;
  padding: 10px 33px;
}

.dialog-container .image-preview .format-indication {
  font-size: 0.625rem;
}

.dialog-container label {
  display: block;
}

.dialog-container label i {
  font-size: 4.75rem;
  color: #b9c5cc;
}

.dialog-container :is(#category, #title) {
  height: 50px;
  font-size: 0.875rem;
  border: none;
  display: block;
  padding-inline-start: 16px;
  width: 100%;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  box-sizing: border-box;
  background-color: #fff;
}

.dialog-container #title {
  margin-bottom: 21px;
}

.dialog-container label:is([for="category"], [for="title"]) {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 10px;
}

.dialog-container hr {
  margin-block-start: 47px;
}

.dialog-container .notification {
  font-size: 0.875rem;
  margin-block-start: 10px;
  padding-left: 10px;
  text-align: center;
}

.dialog-container .notification.success {
  color: #1d6154;
}

.dialog-container .notification.error {
  color: #f00;
}

/* utilities */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
